@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body{
  height: 100vh;
  background: #15202B;
}
#root{
  height: 100%;
}

.grid_date {
  grid-template-columns: 50% 23% 28%;
}

.custom_month_width {
  flex-basis: 50%;
}

.custom_day_width {
  flex-basis: 20%;
}

.custom_year_width {
  flex-basis: 30%;
}

.pop-up_shadow {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.15);
}

@media (max-width:639.5px) {
  .hiddenSignFooter {
    display: none;
  }
}
